{% extends "layout.html" %}
{% block title %} 
  {% if title %}
    Index: {{ title }}
  {% else %}
    Index: no title provided
  {% endif %}
{% endblock %}
{% block body %}
  {% if title %}
    <h2>Index: {{ title }}</h2>
  {% else %}
    <h2>Index: no title provided</h2>
  {% endif %}

  <h3>Hello, {{ user.name }}</h3>

  <h4>Here are your bookmarks:</h4>

  {% for bm in bm_list %}
  <div><p><a href="{{ bm.bm_url }}">{{ bm.bm_name }}</a>
       <br>{{ bm.bm_comment }}</p>
  {% endfor %}

{% endblock %}
