<!DOCTYPE html>
<html><head>
  {% block head %}
  <title>{% block title %}{% endblock %}</title>
  {% endblock %}
</head><body>
  <table><tr>
    <td>| <a href="lists">Lists</a>
    <td>| <a href="profile">Profile</a>
    <td>| <a href="logout">Logout</a> |
  </tr></table>
  {% with messages = get_flashed_messages() %}
    {% if messages %}<ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>{% endif %}
  {% endwith %}
  {% block body %}{% endblock %}
</body>
</html>
